<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
</head>
<body>
    <h1>Login</h1>

    <div th:if="${error}">
        Unable to login. Check your username and password.
    </div>

    <p>New here? Click
        <a th:href="@{/registration}">here</a> to register.
    </p>

    <form method="POST" th:action="@{/login}" id="loginForm">
        <label for="username">Username: </label>

        <input type="text" name="username" id="username" /><br/>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" /><br/>
        <input type="submit" value="Login"/>
    </form>
</body>
</html>